@import '_normalize.css';

@-webkit-keyframes ANIMATION-OPACITY {
    0%   { opacity: 0; }
    100% { opacity: 2; }
  }
  @-moz-keyframes ANIMATION-OPACITY {
    0%   { opacity: 0; }
    100% { opacity: 2; }
  }
  @-o-keyframes ANIMATION-OPACITY {
    0%   { opacity: 0; }
    100% { opacity: 2; }
  }
  @keyframes ANIMATION-OPACITY {
    0%   { opacity: 0; }
    100% { opacity: 2; }
  }

* {
  box-sizing: border-box;
}

body {
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif; */
    font-family: 'Titillium Web', sans-serif;
    color: #333333;
}

.title-content {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #5a5555;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(160,160,160);
}

.center {
    text-align: center;
}

.element:hover {
    /* z-index: 1; */
  transform: scale(1.05);
  /* transition-duration: 0.1s; */
}

.header{
    background-color:#36393f;
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.14);
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer {
    background-color:#686869;
    color: white;
    width: 100%;
    /* height: 110px; */
}

.wrapper {
    width: 73%;
    margin: 0 auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    max-width: 100%;
    align-content: center;
}

#table {
    display: grid;
    grid-template-columns: repeat(17, auto) 1fr;
}


.element {
    -webkit-animation: ANIMATION-OPACITY 2s alternate; /* Safari 4+ */
    -moz-animation:    ANIMATION-OPACITY 2s alternate; /* Fx 5+ */
    -o-animation:      ANIMATION-OPACITY 2s alternate; /* Opera 12+ */
    animation:         ANIMATION-OPACITY 2s alternate; /* IE 10+, Fx 29+ */

    cursor: pointer;
    width: 4vw;
    height: 4vw;
    padding: 2px;
    border-collapse: collapse;
    box-shadow: 0 5px 15px rgba(0,0,0,.14);
    overflow: hidden;
}

.number {
    float: left;
    font-size: 1.0vw;
    position: absolute;
}

.symbol {
    font-weight: bold;
    text-align: center;
    margin-top: 0.5vw;
    font-size: 2.0vw;
}

.element-name {
    font-size: 0.7vw;
    text-align: center;
}

#element-box .symbol {
    margin-top: 0.5vw;
    margin-left: 0.1vw;
    text-align: left;
    font-size: 2vw;
}

#element-box .number {
    margin-top: 0.5vw;
    margin-right: 1.0vw;
    text-align: center;
    font-size: 1.5vw;
}

#element-box .element-name {
    font-size: 0.8vw;
    margin-top: 3.0vw;
    text-align: left;
    align-content: bottom;
}

.shadow {
    box-shadow: 0 5px 15px rgba(0,0,0,.14);
}

#element-box {
    -webkit-animation: ANIMATION-OPACITY 2s alternate; /* Safari 4+ */
    -moz-animation:    ANIMATION-OPACITY 2s alternate; /* Fx 5+ */
    -o-animation:      ANIMATION-OPACITY 2s alternate; /* Opera 12+ */
    animation:         ANIMATION-OPACITY 2s alternate; /* IE 10+, Fx 29+ */
    
    border-radius: 10px;
    grid-column: 4/6;
    max-width: 8vw;
    max-height: 8vw;
    grid-row: 1/3;
    margin: 0;
    overflow: hidden;
}

#information {
    line-height: 100%;
    grid-column: 7/13;
    grid-row: 1/3;
    max-height: 7vw;
    max-width: 20vw;
    text-shadow: 1px 1px #d6d4d4;
    /* overflow-x: scroll; */
    overflow-y: auto;
}

#details {
    margin-top: 5px;
    grid-column: 4/12;
    grid-row: 3/4;
}

#shells {
    grid-column: 6/6;
    grid-row: 1/3;
    font-size: 0.7vw;
    margin-right: 0.2vw;
    /* overflow-x: scroll; */
    overflow-y: auto;
}

#information::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#information::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#information::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(160,160,160);
}

#information h1 {
    margin: 0 0 0.5vw 0;
}

.big_title {
    display: inline-block;
}

.cat_name {
    border-radius: 3px;
    padding: 0 5px;
    margin-left: 5px;
    top: -0.7vw;
    position: relative;
}

.close-button {
    float: right;
    cursor: pointer;
    color: #cccccc;
}

.close-button:hover {
    color: #333333;
}

.appearance {
    margin-bottom: 0.5vw;
}

.atom_info {
    margin-bottom: 0.5vw;
    color: #998100;
}

.element-2 {
    grid-column-start: -2;
}

.element-5, .element-13 {
    grid-column-start: 13;
}


.element-57, .element-89 {
    grid-column-start: 3;
}

.element-119 {
    grid-column-start: -2;
}


/* Noble Gas 
*/
.noble {
    background: linear-gradient(110deg, rgba(255, 152, 0, 0.2), rgba(255, 152, 0, 0.3));
}

/* Alkali Metal  */
.alkali {
    background: linear-gradient(110deg, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.25));
}

/* Alkaline Earth Metal  */
.alkaline {
    background: linear-gradient(110deg, rgba(64, 64, 255, 0.2), rgba(64, 64, 255, 0.25));
}

/* Transition Metal  */
.transition {
    background: linear-gradient(110deg, rgba(0, 128, 255, 0.2), rgba(0, 128, 255, 0.3));
}

/* Polyatomic Non Metal  */
.polyatomic {
    background: linear-gradient(110deg, rgba(255, 255, 0, 0.2), rgba(255, 255, 0, 0.3));
}

/* Diatomic Non Metal  */
.diatomic {
    background: linear-gradient(110deg, rgba(255, 255, 0, 0.2), rgba(255, 255, 0, 0.3));
}

/* Post Transition Metal  */
.post-transition {
    background: linear-gradient(110deg, rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.3));
}

/* Metalóide  */
.metalloid {
    background: linear-gradient(110deg, rgba(140, 190, 0, 0.2), rgba(140, 190, 0, 0.3));
}

/* Lantanídeo  */
.lanthanide {
    background: linear-gradient(110deg, rgba(0, 255, 255, 0.25), rgba(0, 255, 255, 0.35));
}

.actinide {
    background: linear-gradient(110deg, rgba(125, 255, 192, 0.25), rgba(125, 255, 192, 0.35));
}

.element-57 {
    margin: 0;
}

.active {
    filter: brightness(65%);
}

.language {
    cursor: pointer;
}

.language-primary {
    filter: brightness(50%);
}



.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 85px;
    padding: 20px;
    color: white;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  #target-checkbox {
    position: fixed;
    left: calc(100vw / 2 - 450px);
    background-color: white;
  }
  
  @media (max-width: 900px) {
    #target-checkbox {
      left: 0;
    }
  }

#page-wrap {
    z-index: +1;
    overflow: hidden;
    background-color: #333;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: red; */
}

.sticky + .content{
    padding-top: 10px;
}

#page-wrap a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#page-wrap a:hover {
    background-color: #04AA6D;
    color: white;
}

#scroll-chor {
    padding: 2px;
    padding-right: 6px;
    color: #00D8FF;
    background-color: #222;
    font-style: oblique;
}
  
:root {
    --off-white: #fafafa;
  }
  .nav {
    background-color: var(--off-white);
    position: sticky;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  }
  
  .nav-logo {
    height: 60px;
    width: 60px;
  }
  
  .nav-logo:hover {
    cursor: pointer;
  }
  
  .nav .nav-content {
    max-width: 900px;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    position: absolute;
    right: 5%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    display: inline;
    margin-left: 2rem;
    color: #333;
  }
  
  .nav-item:hover {
    color: black;
    cursor: pointer;
  }
  
  .section-dark {
    background: #333;
    color: white;
  }
  
  .section-content {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 40px;
  }

  .buttonCopy {
    z-index: -1;
    background-color: red;
  }

#json::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#json::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#json::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(160,160,160);
}

#json h1 {
    margin: 0 0 0.5vw 0;
}


.__json-pretty__::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.__json-pretty__::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.__json-pretty__::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(160,160,160);
}

.hoverIcon
{
    cursor: pointer
}

.summary {
    font-family: 'Titillium Web', sans-serif;
    font-style: oblique;
}